<h1>html templates</h1>
{{ test }}<br>
{{test2}}
<hr>

Email template:<br><Br>


<div style="background-color:#F3FBFD; width:100%">
<table style="width:600px; background-color:white; font-family:'Helvetica, Arial, sans-serif'; letter-spacing:0.4px;" align="center" border="0">
	
	<tr>
		<td style="padding:15px 15px; border-bottom:#e1e5e6 1px solid; padding:15px 0px">
			<img src="template/de_logo.gif" width="150px"></td>
	</tr>
	
	
	<tr>
		
		<td style="padding:15px">
			
			<table border="0" cellspacing="1" cellpadding="0" style="color:#333; line-height:1.2">
				<tr>
					<td width="180">
						<p>
							<b><span>Business Name:</span>
							</b>
						</p>
					</td>
					<td>
						<p><span>Ace Construction, Inc.</span></p>
					</td>
				</tr>
				<tr>
					<td width="180"><p><b><span>Fed Tax:</span></b></p></td>
					<td><p><span>56-158-XXXX</span></p></td>
				</tr>
				<tr>
					<td width="180">
						<p><b><span>Customer Phone:</span></b></p>
					</td>
					<td>
						<p><span>3363468003</span></p>
					</td>
				</tr>
				
				<tr>
					<td width="180">
						<p><b><span>Mobile Pager:</span></b></p>
					</td>
					<td>
						<p><span>336-346-8003</span></p>
					</td>
				</tr>
				
				<tr>
					<td width="180">
						<p><b><span>FAX:</span></b></p>
					</td>
				</tr>
				
				<tr>
					<td width="180">
						<p><b><span>Request Service Type:</span></b></p>
					</td>
					<td>
						<p><span>temporary and permanent</span></p>
					</td>
				</tr>
				
				<tr>
					<td width="180">
						<p><b><span>Service Address:</span></b></p>
					</td>
					<td>
						<p><span><a href="https://maps.google.com/?q=1629&#43;Sunrise&#43;Valley&amp;entry=gmail&amp;source=g">
							1629 Sunrise Valley
							</a></span></p>
					</td>
				</tr>
				
				<tr>
					<td width="180">
						<p><b><span>Service City:</span></b></p>
					</td>
					<td>
						<p><span>Greensboro</span></p>
					</td>
				</tr>
				
				<tr>
					<td width="180">
						<p><b><span>Service State:</span></b></p>
					</td>
					<td>
						<p><span>NC</span></p>
					</td>
				</tr>
				
				<tr>
					<td width="180">
						<p><b><span>Service ZIP:</span></b></p>
					</td>
					<td>
						<p><span>27405</span></p>
					</td>
				</tr>
				
				<tr>
					<td width="180">
						<p><b><span>Subdivision:</span></b></p>
					</td>
					<td>
						<p><span>THE VILLAGE AT NORTHSIDE</span></p>
					</td>
				</tr>
				
				<tr>
					<td width="180">
						<p><b><span>Service Lot:</span></b></p>
					</td>
					<td>
						<p><span>92</span></p>
					</td>
				</tr>
				
				<tr>
					<td width="180">
						<p><b><span>Service Phase:</span></b></p>
					</td>
					<td>
						<p><span>4</span></p>
					</td>
				</tr>
				
				<tr>
					<td width="180">
						<p><b><span>Service Block:</span></b></p>
					</td>
				</tr>
				
				<tr>
					<td width="180">
						<p><b><span>County:</span></b></p>
					</td>
					<td>
						<p><span>Guilford</span></p>
					</td>
				</tr>
				
				<tr>
					<td width="180">
						<p><b><span>Directions:</span></b></p>
					</td>
					<td>
						<p><span>From Wendover, north on Summit to left on Textile. First right on Andover, first left on Kay, 
							right onto Village Crest Dr. and left on Sunrise Valley Dr.</span>
						</p>
					</td>
				</tr>
				
				<tr>
					<td width="180">
						<p><b><span>Business Address:</span></b></p>
					</td>
					<td>
						<p><span><a href="https://maps.google.com/?q=1031&#43;Summit&#43;Ave.&#43;Ste.&#43;2W-2&amp;entry=gmail&amp;source=g">1031 Summit Ave. Ste. 2W-2</a></span></p>
					</td>
				</tr>
				
				<tr>
					<td width="180">
						<p><b><span>Business City:</span></b></p>
					</td>
					<td>
						<p><span>Greensboro</span></p>
					</td>
				</tr>
				
				<tr>
					<td width="180">
						<p><b><span>Business State:</span></b></p>
					</td>
					<td>
						<p><span>NC</span></p>
					</td>
				</tr>
				
				<tr>
					<td width="180">
						<p><b><span>Business ZIP:</span></b></p>
					</td>
					<td>
						<p><span>27405</span></p>
					</td>
				</tr>
				
				<tr>
					<td width="180">
						<p><b><span>Business Contact:</span></b></p>
					</td>
					<td>
						<p><span>Jake Whitehead</span></p>
					</td>
				</tr>
				
				<tr>
					<td width="180">
						<p><b><span>Electrician Name:</span></b></p>
					</td>
					<td>
						<p><span>Eddie Hutto</span></p>
					</td>
				</tr>
				
				<tr>
					<td width="180">
						<p><b><span>Electrician Phone:</span></b></p>
					</td>
					<td>
						<p><span>336-861-4733</span></p>
					</td>
				</tr>
				
				<tr>
					<td width="180">
						<p><b><span>Electrician Cell Phone:</span></b></p>
					</td>
					<td>
						<p><span>336-442-1244</span></p>
					</td>
				</tr>
				
				<tr>
					<td width="180">
						<p><b><span>Date Needed:</span></b></p>
					</td>
					<td>
						<p><span>05102018</span></p>
					</td>
				</tr>
				
				<tr>
					<td width="180">
						<p><b><span>Type Home:</span></b></p>
					</td>
					<td>
						<p><span>site-built</span></p>
					</td>
				</tr>
				
				<tr><td width="180"><p><b><span>Permit No:</span></b></p></td><td><p><span>201807938</span></p></td></tr>
				
				<tr><td width="180"><p><b><span>Site Contact:</span></b></p></td><td><p><span>Jake Whitehead</span></p></td></tr>
				
				<tr><td width="180"><p><b><span>Site Contact Phone:</span></b></p></td><td><p><span>336-346-8003</span></p></td></tr>
				
				<tr><td width="180"><p><b><span>Site Contact Cell Phone:</span></b></p></td><td><p><span>336-346-8003</span></p></td></tr>
				
				<tr><td width="180"><p><b><span>Power Source:</span></b></p></td><td><p><span>underground power source</span></p></td></tr>
				
				<tr><td width="180"><p><b><span>Permanent Service Underground?:</span></b></p></td></tr>
				
				<tr><td width="180"><p><b><span>Power Source Type:</span></b></p></td><td><p><span>pedestal power source</span></p></td></tr>
				
				<tr><td width="180"><p><b><span>Permanent Service Date:</span></b></p></td><td><p><span>07152018</span></p></td></tr>
				
				<tr><td width="180"><p><b><span>Obstacles:</span></b></p></td><td><p><span>water drain lines</span></p></td></tr>
				
				<tr><td width="180"><p><b><span>Other obstacles:</span></b></p></td></tr>
				
				<tr><td width="180"><p><b><span>Meter Base Distance:</span></b></p></td><td><p><span>100</span></p></td></tr>
				
				<tr><td width="180"><p><b><span>Service Required:</span></b></p></td><td><p><span>200amp service required</span></p></td></tr>
				
				<tr><td width="180"><p><b><span>Water heater type:</span></b></p></td><td><p><span>electric water heater</span></p></td></tr>
				
				<tr><td width="180"><p><b><span>Water Heater size in gallons:</span></b></p></td><td><p><span>50</span></p></td></tr>
				
				<tr><td width="180"><p><b><span>Other water heater details:</span></b></p></td></tr>
				
				<tr><td width="180"><p><b><span>Cooking/Dryer:</span></b></p></td><td><p><span>electric cooking and dryer</span></p></td></tr>
				
				<tr><td width="180"><p><b><span>Other cooking/dryer:</span></b></p></td></tr>
				
				<tr><td width="180"><p><b><span>Heat Type:</span></b></p></td><td><p><span>heat pump</span></p></td></tr>
				
				<tr><td width="180"><p><b><span>Number of heat pumps:</span></b></p></td><td><p><span>1</span></p></td></tr>
				
				<tr><td width="180"><p><b><span>Number of gas units:</span></b></p></td></tr>
				
				<tr><td width="180"><p><b><span>Number of dual fuel electric units:</span></b></p></td></tr>
				
				<tr><td width="180"><p><b><span>Number of dual fuel gas units:</span></b></p></td></tr>
				
				<tr><td width="180"><p><b><span>Other heat type:</span></b></p></td></tr>
				
				<tr><td width="180"><p><b><span>Main floor heated square feet:</span></b></p></td><td><p><span>1138</span></p></td></tr>
				
				<tr><td width="180"><p><b><span>Total heated square feet:</span></b></p></td><td><p><span>1138</span></p></td></tr>
				
				<tr><td width="180"><p><b><span>Energy Star Certified?:</span></b></p></td><td><p><span>Yes, this is an energy star certified home</span></p></td></tr>
				
				<tr><td width="180"><p><b><span>Set Perm Name:</span></b></p></td><td><p><span>Yes, set permanent service meter in my name</span></p></td></tr>
				
				<tr><td width="180"><p><b><span>Remove temp meter?:</span></b></p></td><td><p><span>Yes, remove temp meter</span></p></td></tr>
				
				<tr><td width="180"><p><b><span>Terms and Conditions:</span></b></p></td><td><p><span>I have indicated above all the obstacles in the general area</span></p></td></tr>
				
				<tr><td width="180"><p><b><span>Special Instructions:</span></b></p></td></tr>
				
				<tr><td width="180"><p><b><span>Customer Email:</span></b></p></td><td><p><span><a href="mailto:jwhitehead@hhgg.org" target="_blank">jwhitehead@hhgg.org</a></span></p></td></tr>
				
				<tr><td width="180"><p><b><span>Confirm Email:</span></b></p></td><td><p><span><a href="mailto:jwhitehead@hhgg.org" target="_blank">jwhitehead@hhgg.org</a></span></p></td></tr>
			
			</table>
			
		</td>
	</tr>
	
	<tr>
		<td style="background-color:#005984; padding:0px">
			<img src="template/BSEF-tagline-whte.png" style="padding:20px">
		</td>
	</tr>
	
	<TR>
		<TD>
			<table border="0" style="width:600px ;text-align:center; font-size:12px; color:#666; line-height:1.5; background-color:#F2F4F4; " align="center">
				<tr>
					<td>
						<a href="#">Unsubscribe</a> | 
						<a href="#">Help</a>
					</td>
				</tr>
				<tr>
					<td>
						© Duke Energy Corporation. All Rights Reserved.
					</td>
				</tr>
			</table>
		</TD>
	</TR>
	
	
	
</table>

</div>
